 <div class="row">
   <div class="col-md-8">
     <div class="media">
       <div class="media-body">
         <h2 class="media-heading">Welcome <%= @user.email %>!</h2>
         <small>
         </small>
       </div>
     </div>
   </div>
 </div>
 
 <h3>Incomplete Tasks</h3>

 <h3>Completed Tasks</h3>
